
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sono", monospace;

}


body{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(228, 225, 225) 0%, rgb(225, 234, 238) 90%);
    background-image: url("assest/bg.avif");
    background-position: center;
}
.rate_thanks{
    width: 46%;
    height: 550px;
    /* border: 1px solid black; */
    border-radius: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10rem auto;
    background-color: #f1f1f17c;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.smile{
    height: 140px ;
    /* border: 1px solid black; */
    width: 140px;
    
}
.smile i{
    font-size: 10rem;
    color: rgb(122, 93, 20);
}
.rate_thanks h1{
    font-size: 40px;
    color: goldenrod;
}
.rate_thanks h2{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #857f7f;
}
.rate_thanks h3{
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin-top: -80px;
}
.rate_thanks h3 a{
    color: blue;
}

@media only screen and (max-width: 768px) {
.rate_thanks{
    width: 90%;
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
}
.rate_thanks h3{
    margin-top: -50px;
}
}
